/* Basic format */
body {
    font-family:'Times New Roman', Times, serif;
    background-color: #ffffff00;
}
a {
    color:#eac2c2;
}
a:hover,
a:focus {
    color: #0e401f;
}
h1 {
    font-size: 50px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 1.5rem;
}
h2 {
    font-size: 30px;
    font-weight: 300;
    color: rgb(29, 27, 27);
    letter-spacing: -1px;
    margin-bottom: 1rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}
h3 {
    color: rgb(11, 10, 10);
    font-size: 33px;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;   
}
h4 {
    font-size: 20px;
    font-weight: 500;
    color: rgb(19, 18, 18);
}
h5 {
    font-size: 28px;
    font-weight: 300;
    color: rgb(21, 19, 19);
    margin-bottom: 0.7rem;
}
p {
    color: black;
}
p.lead {
    color: rgb(4, 4, 4);
    margin-bottom: 2rem;
}
.light-font {
    font-weight: 300;
}
.btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0.375rem 1.35rem;
    transition: all 0.3s ease;
    font-family: 'Times New Roman', Times, serif
}
.button {
  border: 3px solid rgb(148, 191, 148);
  border-radius: 3px;
  color: rgb(31, 28, 28);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
 
  font-weight: 500;
  display: inline-round;
  padding: 0.6rem 2rem;
  margin: 30px 2px;
  cursor: pointer;
}
.button:hover,
.button:focus,
.button:active,
.button:active,
.button:not([disabled]):not(.disabled).active,
.button:not([disabled]):not(.disabled):active,
.show>.button.dropdown-toggle {
    background-image: linear-gradient( 110deg, #bbfeb3,#a8dbad  100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    color: #080707;
}
.btn-primary {
    border-radius: 3px;
    background-image: -moz-linear-gradient( 110deg, #a8dbad 20%,#a8dbad 100%);
    background-image: -webkit-linear-gradient( 110deg, #a8dbad 20%,#a8dbad 100%);
    background-image: -ms-linear-gradient( 110deg, #a8dbad  20%,#a8dbad  100%);
    background-image: linear-gradient( 110deg, #a8dbad  20%,#a8dbad  100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.2);
    font-weight: 500;
    padding: 0.6rem 2rem;
    border: 0;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:not([disabled]):not(.disabled).active,
.btn-primary:not([disabled]):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    background-image: linear-gradient(110deg, #C1ECFA 20%,#719CAA 100%);
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.3);
    color: #FFF;
}
.light-bg {
    background-color:(237,248,242, 0.6);
}
.section {
    padding: 80px 0;
}
.section-title {
    text-align: center;
    margin-bottom: 3rem;
}


/* Navigation bar */
.nav-menu {
    padding: 1rem 0;
    transition: all 0.3s ease;
}
.nav-menu.is-scrolling,
.nav-menu.menu-is-open {
    background-color: #C1ECFA;
    background: -moz-linear-gradient(110deg, #C1ECFA 20%,#719CAA 100%);
    background: -webkit-linear-gradient(110deg, #C1ECFA 20%,#719CAA 100%);
    background: linear-gradient(110deg, #C1ECFA 20%,#719CAA 100%);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 23px 0px rgba(0, 0, 0, 0.1);
}
.nav-menu.is-scrolling {
    padding: 0;
}
.navbar-nav .nav-link {
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 14px;
}
.navbar-nav>.nav-item>.nav-link.active:after {
    content: "";
    border-bottom: 3px solid #99e3c8;
    left: 1rem;
    right: 1rem;
    bottom: 5px;
    height: 1px;
    position: absolute;
}
.navbar-nav.is-scrolling {
    padding-bottom: 1rem;
}
.navbar-nav .nav-item {
    text-align: center;
}


/* Welcome Section */
header {
    padding: 100px 0 0;
    text-align: center;
    color: #131111;
}
.bg-gradient {
    background-image: -moz-linear-gradient( 110deg, #C1ECFA 20%,#719CAA 100%);
    background-image: -webkit-linear-gradient( 110deg, #C1ECFA 20%,#719CAA 100%);
    background-image: -ms-linear-gradient(110deg, #C1ECFA 20%,#719CAA 100%);
    background-image: linear-gradient( 110deg, #C1ECFA 20%,#719CAA 100%);
}
.subtitle {
    font-size: 15px;
    font-style:italic;
    font-weight: 300;
    color: #080707;
    max-width: 800px;
    margin: 0 auto;
}
.img-holder {
    height: 0;
    padding-bottom: 28%;
    overflow: hidden;
}
.custom-logo{
    font-weight: bold;
    color:rgb(13, 11, 11);
    font-size: 1.2em;
  }


/* Features interest you */
.gradient-fill:before {
    color: #C1ECFA;
    background: -moz-linear-gradient(top,#C1ECFA 20%,#719CAA 100%);
    background: -webkit-linear-gradient(top,#C1ECFA 20%,#719CAA 100%);
    background: linear-gradient(to bottom,#C1ECFA 20%,#719CAA 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.card.features {
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease;
}
.card.features:before {
    content: "";
    position: absolute;
    width: 3px;
    color: #0d440d;
    background: -moz-linear-gradient(top, #C1ECFA 20%,#719CAA 100%);
    background: -webkit-linear-gradient(top, #C1ECFA 20%,#719CAA 100%);
    background: linear-gradient(to bottom, #C1ECFA 20%,#719CAA 100%);
    top: 0;
    bottom: 0;
    left: 0;
}
.card.features:hover {
    transform: translateY(-3px);
    -moz-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.08);
}
.card-text {
    font-size: 14px;
}


/* More useful functionality could be found here */
.tab-content {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-color: #FFF;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.04);
    padding: 3rem;
}
.tab-content p {
    line-height: 1.8;
}
.tab-content h2 {
    margin-bottom: 0.5rem;
}
.nav-tabs {
    border-bottom: 0;
}
.nav-tabs .nav-item .nav-link,
.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    padding: 1rem 1rem;
    border-color: #99C4D2 #99C4D2 #FFF;
    font-size: 19px;
    color: #6792A0;
    background: #99C4D2;
}
.nav-tabs .nav-link.active {
    background: #FFF;
    border-top-width: 3px;
    border-color: #C1ECFA #FFF #FFF;
    color: #6792A0;
}


/* Steps to Use your Calendar */
.circle-icon {
    box-shadow: 0px 9px 32px 0px rgba(0, 0, 0, 0.07);
    padding: 10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    color: #8FBAC8;
    font-size: 48px;
    text-align: center;
    line-height: 80px;
    font-weight: 300;
    transition: all 0.3s ease;
}
.steps li:hover .circle-icon {
    background-color:#8FBAC8;
    color: #FFF;
}
.steps li {
    padding: 15px 0;
}
.steps li:not(:last-child) {
    border-bottom: 1px solid #8FBAC8;
}

/* Launch your Calendar */
.box-icon {
    box-shadow: 0px 0px 43px 0px rgba(0, 0, 0, 0.14);
    padding: 10px;
    width: 70px;
    border-radius: 3px;
    margin-bottom: 1.5rem;
    background-color: #FFF;
    display: inline-round;
}

nav {
    background-color: #a8bea6; /* set background color */
    display: flex; /* display items in a row */
    justify-content: center; /* center items horizontally */
  }
  
  ul {
    list-style-type: none; /* remove bullet points */
    margin: 0;
    padding: 0;
    display: flex; /* display items in a row */
  }
  
  li {
    margin: 0 10px; /* add some space between items */
  }
  
  button {
    background-color:transparent; /* make background transparent */
    color: #f9fbf9; /* set font color to white */
    border: none; /* remove borders */
    font-size: 16px; /* set font size */
    font-style: oblique;
    cursor: pointer; /* add pointer cursor */
                     /* add some padding */
  }
  
  button:hover {
    background-color: transparent; /* add background color on hover */
  }
  
  #home {
    /* add specific styles for the home button */
    font-weight: bold;
  }
  
  #quiz {
    /* add specific styles for the quiz button */
    font-weight: bold;
  }
  
  #finance {
    /* add specific styles for the finance button */
    font-weight: bold;
  }
  
  #budget {
    /* add specific styles for the budget button */
    font-weight: bold;
  }
  
  #resources {
    /* add specific styles for the resources button */
    font-weight: bold;
  }
  
  #logout {
    /* add specific styles for the logout button */
    font-weight: bold;
  }


  
  
#assessment-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

label {
  margin-top: 10px;
  font-weight: bold;
}

input {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #185f36;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0e2f05;
}
