/* Reset some default styles */
* {
	box-sizing: border-round;
	margin: 0;
	padding: 0;
  font-family: 'Times New Roman', Times, serif;
}
.topnav {
    background-color: #151717;
    overflow: hidden;
  }
  
  nav {
    background-color: #5c6159b7;
    height: 50px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold;
    text-transform: lowercase;
    letter-spacing: 0px;
    transition: color 0.2s;
  }
  
  nav a:hover {
    color: #ebe0b6;
  }
  
  
/* Apply some global styles */
body {
	background:#faefef00
}

.app {
    background:#454242;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
	
}

ul {
	list-style: none;
}

/* Style the header */
header {
	background-color: #edf1ed;
	padding: 20px;
  font-weight: bolder;
}

header h1 {
	font-size: 75px;
	margin: 0;
  font-family: Garamond  ;
}

nav ul {
	display: flex;
}

nav li {
	margin-right: 20px;
}

nav a {
	display: block;
	padding: 10px;
}

nav a:hover {
	background-color: #060605;
}

/* Style the main section */
.app h1 {
    font-weight: 25px;
    color:#121312;
    font-weight:600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.quiz {
    padding: 20px 0;
}

.quiz h2 {
	font-size: 18px;
    color: #e9e5e500;
    font-weight:600;
}

.btn {
    background: #fdfbfb16;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align:left;
    cursor: pointer;
    transition: all 0.3;
	
}

.btn:hover{
	background: #222;
    color: #1b1a1a;
}

#next-btn{
    background: hsl(216, 51%, 87%);
    color:#fef9f9;
    font-weight:500;
    width:150px;
    border:0;
    padding:10px;
    margin:20px auto 0;
    border-radius:4px;
    cursor: pointer;
    display: n
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-round;
  font-family: 'Times New Roman', Times, serif;
}
body {
  background-color: #09090a;
}
.wrapper {
  width: 90%;
  font-size: 16px;
  max-width: 43.75em;
  margin: 1em auto;
}
.container {
  width: 100%;
  box-sizing: border-round;
}
.sub-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3em;
}
.flex {
  display: flex;
  align-items: left;
}
.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: left;
}
.wrapper h3 {
  color: #363d55;
  font-weight: 500;
  margin-bottom: 0.6em;
}
.container input {
  display: block;
  width: 100%;
  padding: 0.6em 0.3em;
  border: 1px solid #050505;
  border-radius: 0.3em;
  color: #414a67;
  outline: none;
  font-weight: 400;
  margin-bottom: 0.6em;
}
.container input:focus {
  border-color: #587ef4;
}
.total-amount-container,
.user-amount-container {
  background-color: #ffffff;
  padding: 1.25em 0.9em;
  border-radius: 0.3em;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
}
.output-container {
  background-color: #82b288;
  color: #ffffff;
  border-radius: 0.3em;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
  margin: 2em 0;
  padding: 1.2em;
}
.output-container p {
  font-weight: 500;
  margin-bottom: 0.6em;
}
.output-container span {
  display: block;
  text-align: center;
  font-weight: 400;
  color: #e5e5e5;
}
.submit {
  font-size: 1em;
  margin-top: 0.5em;
  background-color: #aad5bf;
  border: none;
  outline: none;
  color: #0d0a0a;
  padding: 0.6em 1.2em;
  border-radius: 0.3em;
  cursor: pointer;
}
.list {
  background-color: #ffffff;
  padding: 1.8em 1.2em;
  box-shadow: 0 0.6em 1.2em rgba(28, 0, 80, 0.06);
  border-radius: 0.6em;
}
.sublist-content {
  width: 100%;
  border-left: 0.3em solid #cdd3e6;
  margin-bottom: 0.6em;
  padding: 0.5em 1em;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr;
}
.product {
  font-weight: 500;
  color: #363d55;
}
.amount {
  color: #414a67;
  margin-left: 20%;
}
.icons-container {
  width: 5em;
  margin: 1.2em;
  align-items: center;
}
.product-title {
  margin-bottom: 1em;
}
.hide {
  display: none;
}
.error {
  color: #ff465a;
}
.edit {
  margin-left: auto;
}
.edit,
.delete {
  background: transparent;
  cursor: pointer;
  margin-right: 1.5em;
  border: none;
  color: #587ef4;
}
@media screen and (max-width: 600px) {
  .wrapper {
    font-size: 14px;
  }
  .sub-container {
    grid-template-columns: 1fr;
    gap: 1em;
  }
}


